.trackView {
    width: 100%;
    height: 100%;
}

.albuminfoDiv {
    display: flex;
    width: 100%;
    height: 30%;
    gap: var(--elment-margin);
    align-items: center;
}

.albumTextDiv {
}

.artistImage {
    object-fit: cover;
    border-radius: 25px;
}

.albumArt {
    border-radius: 10px;
}

.albumName {
    font-size: 2.8em;
    font-weight: 600;
}

.albumData,
.artistDiv {
    display: flex;
    align-items: center;
    gap: var(--elment-margin);
}

.tableDiv {
    max-height: 70%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #919191;
    box-shadow: inherit;
}

.tableBodyRow > td,
.tableHeadRow > th {
    padding: 0;
}

.thead {
    height: 7%;
    box-sizing: border-box;
}

.tbody {
    height: 91%;
    overflow-y: overlay;
}

.tbody::-webkit-scrollbar {
    width: 6px;
}

.tbody::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

.tbody::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 20px;
}

.tableBodyRow {
    height: 11%;
}

.tableBodyRow > td,
.tableHeadRow > th {
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    overflow: hidden;
}

.tableBodyRow > td {
    height: 100%;
    display: flex;
    flex-shrink: 0;
    font-size: 0.95rem;
    align-items: center;
}

.tableHeadRow > th {
    height: 100%;
    display: flex;
    font-weight: 600;
    font-size: 0.9rem;
    border: 0;
}

.songNum {
    padding: 0;
    text-align: center;
}

.timeRow {
    justify-content: flex-end;
    text-align: right;
}
