.aritstInfo {
    height: 100%;
    display: flex;
    overflow: auto;
    min-width: 800px;
    z-index: 0;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.albumDiv {
    margin-bottom: 120px;
    width: 80%;
}

.aritstFirst {
    width: 100%;
    flex-shrink: 0;
    min-height: 200px;
    height: 33%;
    background: linear-gradient(180deg, #000000 0%, rgba(81, 81, 81, 0.93) 0.01%, rgba(255, 255, 255, 0) 100%);
}