#albumDiv {
    width: 980px;
    padding: 0px 15px 0px 15px;
}

.albumItem {
    height: 700px;
}

.aritstInfo {
    height: 100%;
    display: flex;
    overflow: overlay;
    flex-grow: 1;
    justify-content: center;
}