#albumDiv {
    width: 980px;
    margin-bottom: 120px;
    padding: 0px 15px 0px 15px;
    display: table;
}

.aritstInfo {
    height: 100%;
    display: flex;
    overflow: overlay;
    flex-grow: 1;
    justify-content: center;
}