.ListSideBarDiv {
    height: 100%;
    display: flex;
    width: var(--side-bar-size);
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}