.ListSideBarDiv {
    height: 99%;
    display: flex;
    width: var(--side-bar-size);
    border-radius: 10px;
    border: 1px solid #909090;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}