@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --main-font-size: 1rem;
    --elment-margin: 5px;
    --border-radius: 15px;
    --side-bar-size: 19.8%;
    --side-min-size: 280px;
}

:root {
    --primary-color: #9C6DFF;
    --hint-color: #888888;
}

p {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: var(--main-font-size);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    overflow: overlay;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

table, thead, tbody {
    display: block !important;
    width: 100% !important;
}

table {
    height: 100% !important;
}

tr {
    width: 100% !important;
    display: flex !important;
}
